# Ignore Eclipse IDE-specific files
.metadata/

# Ignore log files
*.log

# Ignore snap files (Eclipse-related)
*.snap

# Ignore index files (Eclipse-related)
*.index

# Ignore temporary or workspace-specific files
*.swp

# Ignore .classpath and .project files used by Eclipse
.classpath
.project
